@model FormModel
@{
    ViewData["Title"] = "Lista";
}
    <div class="text-center">
        <h2>Numero mayor</h2>
        <h3> @Model.Mayor </h3>
        <br />
        <h2>Numero menor</h2>
        <h3> @Model.Menor </h3>
    </div>



